.moves-list {
margin-left: 50px;
}
p {
    font-size:larger;

  }
.moves-table {
    
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
  }
  
  /* Stylizacja nagłówków tabeli */
  .moves-table th {
    background-color: #f2f2f2;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  /* Stylizacja komórek tabeli */
  .moves-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
